<ion-header>
  <ion-navbar>
    <ion-title>Cargas</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="cargas" color="secondary">
      <ion-segment-button value="c_viagem" (click)="loadCargasViagem()">
        Viagem
      </ion-segment-button>
      <ion-segment-button value="c_aguardando">
        Aguardando
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="cargasViagem" [ngSwitch]="cargas">
    <div *ngSwitchCase="'c_viagem'">
      <ion-card  *ngFor="let viagem of cargasViagem.viagens">
        <!-- <img [src]="viagem.transportadora.logo" [alt]="viagem.transportadora.nome_fantasia"> -->
        <ion-card-content>
          <p>{{ viagem.chegada_prevista }}</p>
          <p>{{ viagem.placa }}</p>
          <p>{{ viagem.romaneio }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
