<ion-header>
  <ion-navbar>
    <ion-title>Cargas</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="cargas">
      <ion-segment-button value="c_viagem" (click)="loadCargasViagem()">
        Viagem
      </ion-segment-button>
      <ion-segment-button value="c_aguardando">
        Aguardando
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div [ngSwitch]="cargas">
    <div *ngSwitchCase="'c_viagem'">
      <div *ngIf="cargasViagem">
        <div *ngFor="let viagem of cargasViagem.viagens">
          <ion-card [ngClass]="viagem.status == 'ATRASADO' ? 'atrasado' : 'previsto'">

            <div class="logo" [ngStyle]="{'background': 'url(' + viagem.transportadora.logo + ') no-repeat center #FFFFFF'}"></div>
            <ion-card-content>
              <div class="watermark"></div>
              <div class="info chegada-prevista">
                {{ viagem.chegada_prevista }}
                <div class="help-text">Chegada prevista</div>
              </div>
              <div class="info placa">
                {{ viagem.placa }}
                <div class="help-text">Placa</div>
              </div>
              <div class="info romaneio">
                {{ viagem.romaneio }}
                <div class="help-text">Romaneio</div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
