<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Descargas</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="descargas">
      <ion-segment-button value="d_previsao" (click)="loadDescargasPrevisao()">
        Previsão
      </ion-segment-button>
      <ion-segment-button value="d_tempo" (click)="loadDescargasTempo()">
        Tempo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div [ngSwitch]="descargas">
    <div *ngSwitchCase="'d_previsao'">
      <div *ngIf="descargasPrevisao">
        <div *ngFor="let previsao of descargasPrevisao.previsao, let i = index" class="card-wrapper">
          <ion-card [ngClass]="previsao.status == 'ATRASADO' ? 'atrasado' : 'previsto'" (click)="detailedViagem[i] = !detailedViagem[i]" [class.detailed]="detailedViagem[i]">
            <!-- <div class="logo" [ngStyle]="{'background': 'url(' + previsao.transportadora.logo + ') no-repeat center #FFFFFF'}"></div> -->
            <div class="logo"></div>
            <ion-card-content>
              <div class="minimized-info">
                <div class="info full chegada-prevista">
                  {{ previsao.chegada_prevista }}
                  <div class="help-text">Chegada prevista</div>
                </div>
                <div class="info half left placa">
                  {{ previsao.placa }}
                  <div class="help-text">Placa</div>
                </div>
                <div class="info half right romaneio">
                  {{ previsao.romaneio }}
                  <div class="help-text">Romaneio</div>
                </div>
              </div>
              <div class="detailed-info">
                <div class="info half left placa">
                  {{ previsao.transportadora.nome_fantasia }}
                  <div class="help-text">Transportadora</div>
                </div>
                <div class="info half right chegada-prevista">
                  {{ previsao.chegada_prevista }}
                  <div class="help-text">Chegada prevista</div>
                </div>
                <div class="info half left placa">
                  {{ previsao.placa }}
                  <div class="help-text">Placa</div>
                </div>
                <div class="info half right romaneio">
                  {{ previsao.romaneio }}
                  <div class="help-text">Romaneio</div>
                </div>
                <div class="info half left mercadoria">
                  {{ previsao.mercadoria }}
                  <div class="help-text">Mercadoria</div>
                </div>
                <div class="info half right pessoa">
                  {{ previsao.motorista }}
                  <div class="help-text">Motorista</div>
                </div>
                <div class="info half left origem">
                  {{ previsao.municipio_origem }}
                  <div class="help-text">Origem</div>
                </div>
                <div class="info half right destino">
                  {{ previsao.municipio_destino }}
                  <div class="help-text">Destino</div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>

    <!-- AGUARDANDO -->
    <div *ngSwitchCase="'d_tempo'">
      <div *ngIf="descargasTempo">
        <div *ngFor="let tempo of descargasTempo.tempo, let i = index" class="card-wrapper">
          <ion-card [ngClass]="tempo.status == 'ATRASADO' ? 'atrasado' : 'previsto'" (click)="detailedAguardando[i] = !detailedAguardando[i]" [class.detailed]="detailedAguardando[i]">
            <div class="logo" [ngStyle]="{'background': 'url(' + tempo.transportadora.logo + ') no-repeat center #FFFFFF'}"></div>
            <ion-card-content>
              <div class="minimized-info">
                <div class="info full chegada-prevista">
                  {{ tempo.chegada_prevista }}
                  <div class="help-text">Chegada prevista</div>
                </div>
                <div class="info half left placa">
                  {{ tempo.placa }}
                  <div class="help-text">Placa</div>
                </div>
                <div class="info half right romaneio">
                  {{ tempo.romaneio }}
                  <div class="help-text">Romaneio</div>
                </div>
              </div>
              <div class="detailed-info">
                <div class="info half left placa">
                  {{ tempo.transportadora.nome_fantasia }}
                  <div class="help-text">Transportadora</div>
                </div>
                <div class="info half right chegada-prevista">
                  {{ tempo.chegada_prevista }}
                  <div class="help-text">Chegada prevista</div>
                </div>
                <div class="info half left placa">
                  {{ tempo.placa }}
                  <div class="help-text">Placa</div>
                </div>
                <div class="info half right romaneio">
                  {{ tempo.romaneio }}
                  <div class="help-text">Romaneio</div>
                </div>
                <div class="info half left mercadoria">
                  {{ tempo.mercadoria }}
                  <div class="help-text">Mercadoria</div>
                </div>
                <div class="info half right pessoa">
                  {{ tempo.motorista }}
                  <div class="help-text">Motorista</div>
                </div>
                <div class="info half left origem">
                  {{ tempo.municipio_origem }}
                  <div class="help-text">Origem</div>
                </div>
                <div class="info half right destino">
                  {{ tempo.municipio_destino }}
                  <div class="help-text">Destino</div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>

  </div>
</ion-content>
