<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transit Time</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="transitTime">
    <div *ngFor="let transit of transitTime.transitTime, let i = index" class="card-wrapper">
      <ion-card [ngClass]="transit.status == 'ATRASADO' ? 'atrasado' : 'previsto'" (click)="detailedViagem[i] = !detailedViagem[i]" [class.detailed]="detailedViagem[i]">
        <div class="logo" [ngStyle]="{'background': 'url(' + transit.transportadora.logo + ') no-repeat center #FFFFFF'}"></div>
        <ion-card-content>
          <div class="minimized-info">
            <div class="info full chegada-prevista">
              {{ transit.chegada_prevista }}
              <div class="help-text">Chegada prevista</div>
            </div>
            <div class="info full chegada-prevista">
              {{ transit.direcao }}
              <div class="help-text">Chegada prevista</div>
            </div>
            <div class="info full chegada-prevista">
              {{ transit.transitTime }}
              <div class="help-text">Chegada prevista</div>
            </div>
            <div class="info half left placa">
              {{ transit.placa }}
              <div class="help-text">Placa</div>
            </div>
            <div class="info half right romaneio">
              {{ transit.romaneio }}
              <div class="help-text">Romaneio</div>
            </div>
            <div class="info half right pessoa">
              {{ transit.motorista }}
              <div class="help-text">Motorista</div>
            </div>
            <div class="info half right romaneio">
              {{ transit.romaneio }}
              <div class="help-text">Romaneio</div>
            </div>

          </div>
          <div class="detailed-info">
            <div class="info half left placa">
              {{ transit.transportadora.nome_fantasia }}
              <div class="help-text">Transportadora</div>
            </div>
            <div class="info half right chegada-prevista">
              {{ transit.chegada_prevista }}
              <div class="help-text">Chegada prevista</div>
            </div>
            <div class="info half left placa">
              {{ transit.placa }}
              <div class="help-text">Placa</div>
            </div>
            <div class="info half right romaneio">
              {{ transit.romaneio }}
              <div class="help-text">Romaneio</div>
            </div>
            <div class="info full chegada-prevista">
              {{ transit.direcao }}
              <div class="help-text">Chegada prevista</div>
            </div>
            <div class="info full chegada-prevista">
              {{ transit.transitTime }}
              <div class="help-text">Chegada prevista</div>
            </div>
            <div class="info half left mercadoria">
              {{ transit.mercadoria }}
              <div class="help-text">Mercadoria</div>
            </div>

            <div class="info half left origem">
              {{ transit.municipio_origem }}
              <div class="help-text">Origem</div>
            </div>
            <div class="info half right destino">
              {{ transit.municipio_destino }}
              <div class="help-text">Destino</div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>


</ion-content>
