@import '../../theme/icons';
@import '../../theme/animations';
@import '../../theme/theme.scss';
home {
  .menu-item {
    font-size: 150%;
    font-weight: lighter;
    color: map-get($colors, primary);
  }
  .item,
  .item-inner {
    border: none!important;
  }
  ion-thumbnail > img {
    margin-top: 25%;
    margin-left: 25%;
    width: 50%;
  }
  .perfil {
    background: linear-gradient(to bottom right, map-get($colors, primary), map-get($colors, primary-darker));
    color: map-get($colors, light);
    .user {
      font-size: 120%;
      font-weight: bold;
      text-align: center;
    }
    img {
      margin: 0 auto;
      width: 25%;
      border-radius: 100%;
      border: 2px solid rgba(255, 255, 255, 0.4);
      background-color: #fff;
    }
  }
}
