// http://ionicframework.com/docs/v2/theming/

@import "../theme/theme";
@import "../pages/transitTime/transitTime";
@import "../pages/home/home";
@import "../pages/login/login";

ion-header {
  img.profile {
    margin: 0 auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 2px solid #3c3c3c;
  }
}
